.App {
	padding: 4em 6em;
}

.header {
	margin-bottom: 1.5em;
	margin-left: 15px;
}

.hidden {
	visibility: hidden;
}

.search-input-prepend {
	background-color: #fff !important;
	border-right: none !important;
	border-radius: 1em 0 0 1em !important;
}

.search-input {
	border-left: none !important;
	transition: none !important;
	border-radius: 0 1em 1em 0 !important;
}

.search-input:focus {
	box-shadow: none !important;
	border-color: #ced4da !important;
}

.search-val-and-pagination {
	margin: 1em 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
}

.pagination-display {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.pagination-text {
	margin: 0 1em;
}

.results-message {
	width: 100%;
	display: flex;
	justify-content: center;
}

.search-spinner {
	height: 5em !important;
	width: 5em !important;
}

.search-and-noms {
	display: flex;
	flex-direction: row;
}

.search-results {
	padding: 0.5em;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.movie-list {
	list-style-type: none;
	padding-inline-start: 0;
	display: inherit;
	flex-wrap: inherit;
}

.movie-container,
.nomination-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.movie-container {
	flex-direction: column;
	width: 10em;
	height: 100%;
	padding: 0.5em;
}

.nomination-container {
	padding: 0.5em;
	border: 1px solid #ced4da;
	border-radius: 1em;
	margin: 0.5em 0;
	background-color: #ced4da;
}

.nominations-title {
	margin: 1em;
	text-align: center;
}

.movie {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	background-color: #0a0a0a !important;
}

.movie-poster {
	height: 14em;
	object-fit: cover;
	object-position: top;
}

.movie-info {
	display: flex;
	flex-direction: column;
}

.popover {
	color: #0a0a0a;
}

.nominate-btn {
	width: 102%;
	height: 102%;
}

.delete-btn-container {
	display: flex;
	align-items: center;
	margin-left: 1em;
}

.round-btn {
	border-radius: 50% !important;
}

.nomination-logo-container {
	display: flex;
	justify-content: center;
}

.nomination-logo {
	color: #ced4da;
	border: 5px solid #ced4da;
	text-align: center;
	padding: 1em;
	border-radius: 50%;
}

.nomination-list {
	border: solid 1px #ced4da;
	border-radius: 1em;
	padding: 1em;
	background-color: #fff;
	color: #0a0a0a;
}
