.App {
	padding: 4em 6em;
}

.header {
	margin-bottom: 1.5em;
}

.hidden {
	visibility: hidden;
}

.search-input-prepend {
	background-color: rgba(255, 255, 255, 0) !important;
	border-right: none !important;
	border-radius: 1em 0 0 1em !important;
}

.search-input {
	border-left: none !important;
	transition: none !important;
	border-radius: 0 1em 1em 0 !important;
}

.search-input:focus {
	box-shadow: none !important;
	border-color: #ced4da !important;
}

.search-val-and-pagination {
	margin: 1em 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
}

.pagination-display {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.pagination-text {
	margin: 0 1em;
}

.results-message {
	width: 100%;
	display: flex;
	justify-content: center;
}

.search-spinner {
	height: 5em !important;
	width: 5em !important;
}

.search-and-noms {
	display: flex;
	flex-direction: row;
}

.search-results {
	height: 25em;
	overflow-y: scroll;
	padding: 0.5em;
}

.movie-list {
	list-style-type: none;
	padding-inline-start: 0;
}

.movie-container,
.nomination-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nomination-container {
	padding: 1em 0;
}

.nominations-title {
	margin: 1em;
	text-align: center;
}

.grow {
	transition: all 0.2s ease-in-out;
}

.grow:hover {
	transform: scale(1.05);
}

.movie {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.movie-poster {
	width: 5em;
}

.movie-header {
	/* max-height: 9em; */
}

.movie-info {
	display: flex;
	flex-direction: column;
	padding: 0 1em;
}

.movie-title {
	font-size: 20px;
}

.nominate-btn {
	height: 2.5em;
}

.delete-btn-container {
	display: flex;
	align-items: center;
	margin-left: 1em;
}

.round-btn {
	border-radius: 50% !important;
}

.nomination-list {
	border: solid 1px #ced4da;
	border-radius: 1em;
	padding: 1em;
	height: 100%;
}
