.App {
	margin: 6em;
}

.header {
	margin-bottom: 1.5em;
}

.hidden {
	visibility: hidden;
}

.search-input-prepend {
	background-color: rgba(255, 255, 255, 0) !important;
	border-right: none !important;
	border-radius: 1em 0 0 1em !important;
}

.search-input {
	border-left: none !important;
	transition: none !important;
	border-radius: 0 1em 1em 0 !important;
}

.search-input:focus {
	box-shadow: none !important;
	border-color: #ced4da !important;
}

.search-val-display {
	margin-top: 1em;
}

.search-and-noms {
	display: flex;
	flex-direction: row;
}

.movie-list {
	list-style-type: none;
	padding-inline-start: 0;
	height: 85em;
}

.movie-container {
	display: flex;
	justify-content: space-between;
	margin: 0.5em 0;
	align-items: center;
}

/* .grow {
	transition: all 0.2s ease-in-out;
}

.grow:hover {
	transform: scale(1.1);
} */

.movie {
	display: flex;
	flex-direction: row;
	height: 8em;
}

.movie-poster {
	width: 5em;
}

.movie-info {
	display: flex;
	flex-direction: column;
	padding: 1em;
}

.nominate-btn {
	height: 2.5em;
}

.delete-btn-container {
	display: flex;
	align-items: center;
}

.delete-nom {
	border-radius: 50% !important;
}

.nomination-list {
	border: solid 1px coral;
	border-radius: 1em;
	padding: 1em;
	height: 100%;
}

.pagination-display {
	display: flex;
	flex-direction: row;
}
